<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="zuro">

        <!-- Debug manifest usually doesn't need activity -->
        <!-- It overlays main manifest -->

    </application>

</manifest>
